[submodule "wallaroo"]
	path = wallaroo
	url = https://code.google.com/p/wallaroo/
[submodule "luabind"]
	path = luabind
	url = git://github.com/luabind/luabind.git
[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
